.button {
  border: none;
  outline: none;
  
  &--add {
    background: $color-green;
    font-weight: 500;
    color: $color-white;
    font-size: 2.5rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }

  &--link {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    background: none;
    //color: $color-grey-dark;
    color: $color-purple;
    border-bottom: 1px solid $color-purple;
    align-self: center;
  }

  &--remove {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    background: $color-white;
    border: 4px solid $color-grey-light;
    z-index: 100;
    margin-right: 1.3rem;
  }

  &--checked {
    background: none;
    margin-right: 1.3rem;

    &:after {
      content: "";
      width: 1rem;
      height: 1.9rem;
      display: inline-block;
      border: solid $color-purple;
      border-width: 0 3px 3px 0;
      position: relative;
      transform: rotate(45deg) translate(-50%, -50%);
      left: -50%;
      top: 7px;
    }
  }

  &--action {
    -webkit-box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    border-radius: 100px;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    background: $color-green;
    font-weight: 500;
    color: $color-white;
    position: relative;
    top: 6rem;

    &:disabled {
      opacity: .4;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    @media only screen and (max-width: $bp-medium) {
      top: 0;
    }
  }

  &--start {
    -webkit-box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-radius: 100px;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    background: $color-purple;
    font-weight: 400;
    color: $color-white;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }
  }

  &--close {
    -webkit-box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-radius: 100px;
    font-size: 1.1rem;
    padding: 1.5rem 3rem;
    background: $color-purple;
    font-weight: 400;
    color: $color-white;
  }
}