.ReactModalPortal > div {
  opacity: 0;
  z-index: 1000;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 200ms ease-in-out;
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;

  &--after-open {
    opacity: 1;
  }

  &--before-close {
    opacity: 0;
  }
}

.modal {
  padding: 5rem;
  max-width: 30rem;
  background: $color-white;
  outline: none;
  text-align: center;
  margin: 0;
  border: 1px solid $color-purple;

  &__title {
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  &__body {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;
  }
}