.widget {
  &__item {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }

    &--checked {
      text-decoration: line-through;
      color: $color-grey-light;
    }
  }
}