.widget {
  &__date {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.8rem;

    &--day {
      font-size: 4rem;
      margin: 0;
      margin-right: .7rem;
      font-weight: 600;

      display: flex;
      align-items: center;
      //justify-content: center;
    }

    &--month {
      margin: 0;
      font-weight: 600;
      text-transform: uppercase;
      //padding-bottom: .4rem;
    }

    &--year {
      margin: 0;
      font-weight: 500;
    }

    &--week-day {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}