@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // 1rem = 10px;
  background-color: $color-white-dark;
}

body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;

  background: linear-gradient(to right bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.5)), url('https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-0.3.5&s=44238906c13118d221271e9db28890f8&auto=format&fit=crop&w=1549&q=80') no-repeat center center fixed;
  background-size: cover;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: none;
  //background: darken($color: , $amount: 0)
}

::-webkit-input-placeholder {
  color: $color-grey;
}