.container {
  max-width: 100rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  color: $color-grey-dark;
  min-width: 45rem;
  background: $color-white;
  padding: 5rem;
}