// colors
$color-white: #fff;
$color-grey-light: #F7F7F8;
$color-grey-dark:#616473;
$color-grey: #BDC0CA;
$color-green: #50e3a4;
$color-purple: #8357C5;

// font-sizes, spacing
$size-m: 1.6rem;
$size-l: 3.2rem;
$size-xl: 4.8rem;
